@charset "UTF-8";
/* GLOBAL*/
html {
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #eee;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
}

h2 {
  color: #333333;
  font-size: 250%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: green;
  width: 100px;
  content: " ";
  margin: 0 auto;
  margin-top: 2px;
}

h3 {
  font-size: 160%;
}

p {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

body {
  padding: 0;
  margin: 0;
}

section {
  padding: 30px 0 60px 0;
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 242, 96, 0.4), rgba(7, 117, 230, 0.6)), url(../images/champ-thé.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.home-title {
  padding-top: 30%;
}

.home-title h1 {
  font-size: 340%;
  color: #fff;
}

.home-title h1 span {
  font-weight: 700;
}

.home-title p {
  color: #fff;
}

/* Button */
.btn {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s, color 1s, border 1s;
}

.btn-full {
  background-color: azure;
  color: #5ee077;
  margin-right: 15px;
}

.btn-ghost {
  border: 1px solid #fff;
  color: #fff;
}

.btn-full:hover {
  background-color: #5ee077;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #5ee077;
  border: 1px solid #5ee077;
  color: #fff;
}

/* Produits */
.produits-plus {
  margin: 20px 0;
}

.produits-plus:hover .produits-icon {
  transform: translateX(20px);
  color: #575757;
  transition: color 1s, transform 1s;
}

.produits-img {
  max-width: 100%;
  height: auto;
}

.produits-icon {
  font-size: 34px;
  color: #0c950c;
}

/* Famille thé */
.famille-the {
  background-color: #cdf6e1;
}

.famille-details {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.famille-details img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.famille-details h4 {
  text-align: center;
}

/*Galerie photos*/
.galerie-img {
  display: block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.galerie-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.galerie-title h4 {
  color: #fff;
}

/*clients*/
.clients {
  background-image: linear-gradient(rgba(0, 242, 96, 0.4), rgba(7, 117, 230, 0.6)), url(../images/AvisClients/the-paysage.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.clients h2 {
  color: #fff;
}

.clients h2:after {
  background-color: #fff;
}

.clients blockquote {
  color: #fff;
  font-style: italic;
  line-height: 130%;
  padding: 5px;
}

blockquote:before {
  content: "“";
  font-size: 800%;
  font-family: "Sanchez", serif;
  position: absolute;
  padding-top: 20px;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.6);
}

cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
